body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

h1,
h2,
h3, 
h4, 
h5, 
h6, 
p {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
input,
textarea {
    font-family: inherit;
}
textarea {
    resize: none;
}
button {
    font-family: inherit;
    color: currentColor;
}

/* Common */
.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}
.section {
    margin: 0 auto;
    padding: 120px 0;
}
.subtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
}
.sub-sub-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.team-subtitle,
.team-p {
    text-align: center;   
}
.text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* Header */
.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
     0 2px 1px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}
.nav-addr {
   display: flex; 
   align-items: center; 
}
.navigation {
    display: flex;
    align-items: center;
}
.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}
.address-list {
    display: flex;
    align-items: center;
    gap: 40px;
}
.header-logo {
    padding: 24px 0;
    margin-right: 76px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;}

.header-logo .studio {
    color: #2e2f42;
}
.nav-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation .nav-link:hover,
.navigation .nav-link:focus {
        color: #404BBF;
}

.nav-link.activestudio {
    position: relative;
    color: #404BBF;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
.nav-link.activestudio::after {
    content: "";
    position: absolute;
    left: 0; 
    bottom: -1px;
    width: 100%; 
    height: 4px; 
    border-radius: 2px; 
    background-color: #404bbf;
}

.address{
    font-style: normal;
    margin-left: auto;
}

.address-link {
    display: block;
    padding: 24px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address .address-link:hover,
.address .address-link:focus {
    color: #404BBF;
}
/* end Header */

/* Hero */
.section-one {
    background-color: #2e2f42;
    background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    max-width: 1440px;
    margin: 0 auto;
    padding: 188px 0;
}
.title {
    max-width: 496px;
    margin-left:  auto;
    margin-right: auto;
    margin-bottom: 48px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

.button {
    display: block;
    min-width: 169px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    padding: 16px 32px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
.button:hover, 
.button:focus {
    background-color: #404BBF;
}
/* end Hero */

/* Features */
.features-list {
    display: flex;
    gap: 24px;
}
.features-item {
    width: calc((100% - 72px) / 4);
}
.features-title {
    margin-bottom: 8px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.svg-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    margin-bottom: 8px;
}
/* end Features */

/* Our Team */
.our-team {
    background-color: #F4F4FD;
}
.team-title {
    margin-bottom: 72px;
}
.team-list {
    display: flex;
    gap: 24px;
}
.team-members {
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
     0 1px 1px 0 rgba(46, 47, 66, 0.16),
      0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.member-text {
    padding-top: 32px;
    padding-bottom: 32px;
}
.team-p {
    margin-bottom: 8px;
}
.social-links{
    display: flex;
    gap: 24px; 
    align-items: center;
    justify-content: center;
    }
.link-social-icon {
    width: 40px;
    height: 40px;
}
.social-icon {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon:hover,
.social-icon:focus {
    background-color: #404BBF;
}
.svg-icon {
    fill: #f4f4fd;
}
/* end Our Team */

/* Portfolio */
.portfolio-title {
    margin-bottom: 72px;
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}
.portfolio-li {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 
.portfolio-li:hover,
.portfolio-li:focus {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-text {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
}
.box {
    position: relative;
    overflow: hidden;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    padding: 40px 32px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    transform: translateY(100%);

    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.card-overlay:hover .overlay{
    transform: translateY(0);
}
/* end Portfolio */



/* Footer */
.footer {
    background-color: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}
.footer-container {
    display: flex;
    align-items: baseline;   
}
.footer-logo-text {
    margin-right: 120px;
}
.footer-social-div {
    margin-right: 80px;
}
.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    }
.footer-logo .studio {
    color: #f4f4fd;
}
.text-footer {
    max-width: 264px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd; }
.footer-text-social {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}
.social-links-footer {
    display: flex;
    gap: 16px;
    align-items: center;
}
.link-social-icon {
    display: flex;
    width: 40px;
    height: 40px;
}
.social-icon-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon-footer:hover,
.social-icon-footer:focus {
    background-color: #31D0AA;
}
.footer-svg {
    fill: #F4F4FD;
}

.text-subs {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
}
.form-footer {
    display: flex;
    gap: 24px;
}
.footer-email-field {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: transparent;
    padding-left: 16px;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
    
}
.footer-email-field::placeholder {
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
}

.footer-btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    background-color: #4d5ae5;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-btn:hover,
.footer-btn:focus {
    background-color: #404bbf;
}

.icon-footer-plane {
    fill: #fff;
    margin-left: 16px;
}
/* end Footer */

/* Modal */
.modal-bg {
    position: fixed;
    background-color: rgba(46, 47, 66, 0.4);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-bg.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    border-radius: 4px;
    padding: 72px 24px 24px 24px;
    
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn {
    cursor: pointer;
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
}
.close-icon {
    fill:#2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover,
.close-btn:focus {
    background-color: #404bbf;
    border: none;
}
.close-btn:hover .close-icon,
.close-btn:focus .close-icon {
    fill: #ffffff;
}

.modal-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    max-width: 360px;
    color: #2e2f42;
    margin-bottom: 16px;
}

.form-option {
    margin-bottom: 8px;

}

.form-label {
    display: block;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.field-icon {
    position: relative;

}
.input-form {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-form:focus,
.input-form:hover {
    border-color: #4D5AE5;
} 

.user-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.input-form:focus + .user-icon {
    fill: #4D5AE5;
}

.comment-field {
    margin-bottom: 16px;
}

.comment-text {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.comment-text:focus {
    border-color: #4D5AE5;
}
.form-label::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.check-section {
    margin-bottom: 24px;
}
.check-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}
.link-privacy {
    color: #4d5ae5;
    text-decoration: underline;
}

.accept {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    fill: transparent;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    border 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
input[type="checkbox"]:checked + .check-label>.accept {
    background-color: #404bbf;;
    border: none;
    fill: #F4F4FD;}
   

.reg-btn {
    display: block;
    cursor: pointer;
    min-width: 169px;
    height: 56px;
    margin: 0 auto;
    border-radius: 4px;
    padding: 16px 32px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #ffffff;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.reg-btn:hover,
.reg-btn:focus {
    background-color: #404BBF;
}

